.LandingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 89, 45);
}

.LandingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 30px;
}

.welcome {
    color: black;
    font-size: 70px;
    font-weight: 900;
}

.LogInSignUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 30%;
}

.AuthLinks, .AuthLinksSingle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(86, 86, 86);
    color: rgb(205, 144, 1);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
}

.AuthLinks {
    width: 100%;
    height: 40%;
}

.AuthLinksSingle {
    width: 30%;
    height: 10%;
}

.AuthLinks:hover, .AuthLinksSingle:hover{
    background-color:rgb(114, 114, 114) ;
    color: rgb(248, 189, 54);
}

.LogIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 30%;
}

.SignUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 30%;
}

.TextBox {
    display: flex;
    border: none;
    border-bottom: 1px solid;
    border-color: black;
    background-color: transparent;
    font-size: 20px;
    color: black;
}

.TextBox:focus {
    outline: none;
}